[Unit]
Description=Unified Auth Gateway - Django API Resource Server
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/UnifiedAuthGateway/django_api
ExecStart=/var/www/UnifiedAuthGateway/django_api/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8001 billing_project.wsgi:application
Restart=always
Environment="DJANGO_SETTINGS_MODULE=billing_project.settings"

[Install]
WantedBy=multi-user.target
